{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": false
  },
  "globals": {
    "chrome": false,
    "module": false,
    "process": false,
    "$": false,
    "Promise": false
  },
  "plugins": [],
  "rules": {
    "arrow-body-style": "error",
    "arrow-parens": "off",
    "arrow-spacing": "error",
    "generator-star-spacing": "error",
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-unused-vars": "warn",
    "no-var": "error",
    "object-shorthand": "off",
    "prefer-arrow-callback": "off",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "off",
    "rest-spread-spacing": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": "error",
    "no-console": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
